@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --card: 224 71% 6%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;

    --primary: 262 83% 68%;
    --primary-foreground: 0 0% 100%;

    --destructive: 0 63% 55%;
    --destructive-foreground: 0 0% 100%;

    --input: 216 34% 17%;
    --ring: 262 83% 68%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
